<!DOCTYPE html>
<html>
    <head>
        <title>[% title %]</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <header id="global-header">
            [% IF c.user %]
	    <div style="display:inline-flex">
              ようこそ <a href="/user/[% c.user.name | html %]">[% c.user.name | html %]</a> さん |
              <a href="/entry/add">作成</a> |
              <a href="/">一覧</a> |
	      <form action="/logout" method="post">
		<input type="submit" value="ログアウト"/>
		<input type="hidden" name="path" value="[% entry.path %]"/>
	      </form> |
	    </div>
            [% ELSE %]
		    ログイン
            [% END %]
        </header>

        <div id="content">
            [% IF c.user %]
            [% content %]
            [% ELSE %]
            ログインしないと使えません!
			[% INCLUDE "login.html" %]
            [% END %]
        </div>

        <footer id="global-footer">
            Hatena
        </footer>
    </body>
</html>
