[% WRAPPER "_wrapper.tt" WITH title = "Diary::Add" %]
<script>
 jQuery(function($){
     $('div.entry-title').click(function(){
		 var eid = $(this)[0].id.split('-').pop();
		 if(!$(this).hasClass('on')){
			 $(this).addClass('on');
			 var txt = $(this).text();
			 $(this).html('<input type="text" value="' + txt + '" />');
			 $('div.entry-title > input').focus().blur(function(){
				 var t = $(this).val();
				 $(this).parent().removeClass('on').text(t);
				 $.ajax({
					 type: 'POST',
					 url: '/api/entry/update_title',
					 data: {entry_id: eid,
							title: t,
					 }
				 });
			 });
		 }
     });
 });
</script>

<header>
    <div class="entry-title" id="entry-title-[% entry.entry_id %]">[% entry.title %]</div>
</header>

<script>
 jQuery(function($){
     $('div.entry-content').click(function(){
		 var eid = $(this)[0].id.split('-').pop();
		 if(!$(this).hasClass('on')){
			 $(this).addClass('on');
			 var txt = $(this).text();
			 $(this).html('<input type="text" value="' + txt + '" />');
			 $('div.entry-content > input').focus().blur(function(){
				 var cont = $(this).val();
				 $(this).parent().removeClass('on').text(cont);
				 $.ajax({
					 type: 'POST',
					 url: '/api/entry/update_content',
					 data: {entry_id: eid,
							content: cont,
					 }
				 });
			 });
		 }
     });
 });
</script>

<div class="entry-content" id="entry-content-[% entry.entry_id %]">[% entry.content %]</div>
<p>
  [% FOR tag IN entry.tags %]
  [% tag.name %]
  [% END %]
</p>

by <a href="user/[% entry.user.name %]">@[% entry.user.name %]</a>
[% entry.created %]
[% END %]
